<div class="tecnologias">
  <div class="frontend">
    <h3>Front-End</h3>
    <div>
      <img class="img_frontend" src="../../assets/imgs/icons8-dev-96.png" alt="">
    </div>
    <img class="img_frontend" src="../../assets/imgs/icons8-dev-96.png" alt="" (click)="toggleIcons('frontend')">
  </div>

  <div class="backend">
    <div class="header">
      <h3>Back-end</h3>
    </div>
    <div class="padding_h3">
      <img class="img_backend" src="../../assets/imgs/icons8-backend-development-96.png" alt="" (click)="toggleIcons('backend')">
    </div>
  </div>

  <div class="outros">
    <div class="header">
      <h3>Outros</h3>
    </div>
    <div class="padding_h3">
      <img class="img_outros" src="../../assets/imgs/add.png" alt="" (click)="toggleIcons('outros')">
    </div>
  </div>
</div>
