<div class="tecnologias">
  <div class="frontend">
    <div>
      <h3>Front-End</h3>
    </div>
    <div>
      <img class="img_tecnologias" src="../../assets/imgs/icons8-dev-96.png" alt="Imagem frontend">
    </div>
    <div>
      <ul class="icones">
        <li>
          <i class="devicon-angularjs-plain colored"></i>
          <span> Angular</span>
        </li>
        <li>
          <i class="devicon-typescript-plain colored"></i>
          <span> TypeScript</span>
        </li>
        <li>
          <i class="devicon-javascript-plain colored"></i>
          <span> Javascript</span>
        </li>
        <li>
          <i class="devicon-jquery-plain colored"></i>
          <span> JQuery</span>
        </li>
        <li>
          <i class="devicon-html5-plain colored"></i>
          <span> HTML</span>
        </li>
        <li>
          <i class="devicon-css3-plain colored"></i>
          <span> CSS</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="backend">
    <div>
      <h3>Back-end</h3>
    </div>
    <div>
      <img class="img_tecnologias" src="../../assets/imgs/icons8-backend-development-96.png" alt="Imagem backend">
    </div>
    <div>
      <ul class="icones">
        <li>
          <i class="devicon-nodejs-plain colored"></i>
          <span> NodeJs</span>
        </li>
        <li>
          <i class="devicon-postgresql-plain colored"></i>
          <span> postgreSQL</span>
        </li>
        <li>
          <i class="devicon-mysql-plain colored"></i>
          <span> MySQL</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="outros">
    <div>
      <h3>Outros</h3>
    </div>
    <div>
      <img class="img_tecnologias" src="../../assets/imgs/add.png" alt="Imagem outros">
    </div>
    <div>
      <ul class="icones">
        <li>
          <i class="devicon-git-plain colored"></i>
          <span> Git</span>
        </li>
        <li>
          <i class="devicon-codepen-plain"></i>
          <span> Codepen</span>
        </li>
        <li>
          <i class="devicon-github-original"></i>
          <span> Github</span>
        </li>
        <li>
          <i class="devicon-markdown-original"></i>
          <span> Markdown</span>
        </li>
        <li>
          <i class="devicon-visualstudio-plain colored"></i>
          <span> VSCode</span>
        </li>
        <li>
          <img class="fluig" src="../../assets/imgs/fluig.png" alt="">
          <span> Fluig</span>
        </li>
      </ul>
    </div>
  </div>
</div>
