<div class="tecnologias">
  <div class="frontend">
    <h3>Front-End</h3>
    <div class="container_img">
      <img class="img_tecnologias" src="../../assets/imgs/icons8-dev-96.png" alt="">
    </div>
  </div>

  <div class="backend">
    <div class="header">
      <h3>Back-end</h3>
    </div>
    <div>
      <img class="img_tecnologias" src="../../assets/imgs/icons8-backend-development-96.png" alt="">
    </div>
  </div>

  <div class="outros">
    <div class="header">
      <h3>Outros</h3>
    </div>
    <div>
      <img class="img_tecnologias" src="../../assets/imgs/add.png" alt="">
    </div>
  </div>
</div>
