<div class="home">
  <div class="apresentacao">
    <h1 class="apresentacao_h1">Olá, eu sou
      <br>
      <span class="my_name">
        Sérgio Medeiros<span>.</span>
      </span>
      <br>
      <span class="my_job">
        Desenvolvedor Front-end.
      </span>
      <div class="div_botao_github">
        <button class="botao_github">Ver projetos</button>
        <a href="https://github.com/SergioMFilho" class="remove-styles">
          <i class="devicon-github-original"></i>
        </a>
      </div>
    </h1>

  </div>
  <div class="my_image">
    <img src="https://avatars.githubusercontent.com/u/110981308?v=4" alt="">
  </div>
</div>
