
.main-header {
    padding: 10px 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    column-gap: 40px;
    padding-bottom: 3rem;
}

.main-header__title {
    font-size: 80px;
    letter-spacing: -1.5px;
}

.main-header__title--blue {
    color: #005486;
    font-size:60px;
}

.main-header__title--orange {
    color: var(--orange);
    color: orange;
    font-size:60px;
}

.main-header__menu ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.main-header__menu a {
    padding: 10px 10px;
    color: var(--gray);
    font-weight: 400;
    font-size: 22px;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.main-header__menu a:hover {
    background-color: #005486;
    color: #fff;
    border-radius: 5px;
    transition: 1s;
}

.container-menu {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    /* flex: 1; */
}

.badge-carrinho {
    background-color: var(--dark-blue);
    padding: 5px 10px;
    border-radius: 4px;
}


.promocao_app {
  display: flex;
  width: 100%;
  height: 7rem;
  background-color: #005486;
  justify-content: center;
  align-items: center;
  color: white;
}

.promocao_app header {
  display: flex;
}


.frase_oferta_dia {
  margin-right: 1rem;
}

.frase_oferta_dia p{
  font-size: 1.4rem;
}

.time {
  font-size: 1.8rem;
}

.texto_time span{
  margin: 0px 0.8rem 0px 0.8rem;
}

.container_promocao_dia {
  width: 60%;
  height: 520px;
  margin: 0 auto;
  border: 1px solid black;
}

.container_oferta{
  display: flex;
  justify-content: center;
}

.produto_em_promocao {
  padding: 20px;
}

.product-item_name {
  font-size: 24px;
  color: #005486;
  text-align: center;
}

.valor_normal {
  text-decoration: line-through;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.valor_promocao {
  color: orange;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
