<header class="main-header">
    <h1 class="main-header__title">
        <span class="main-header__title--blue">SM</span><span class="main-header__title--orange">Computers</span>
    </h1>
    <div class="container-menu">
        <nav class="main-header__menu">
            <ul>
                <li> <a href="">Produtos</a> </li>
                <li>
                    <a routerLink="carrinho">
                        <i class="fa-solid fa-cart-shopping"></i>
                        Carrinho
                        <span class="badge-carrinho">{{ carrinhoService.obtemCarrinho().length }}</span>
                    </a>
                </li>
                <li> <a routerLink="contato"> Contato</a> </li>
                <li> <a href=""> <i class="fa-brands fa-linkedin-in"> </i> </a>
                <li> <a href=""> <i class="fa-brands fa-github"></i> </a>
                <li> <a href=""> <i class="fa-brands fa-instagram"> </i></a></li>
            </ul>
        </nav>
        <app-barra-pesquisa></app-barra-pesquisa>
    </div>
</header>
<div class="container_promocao_dia" *ngIf="divPromocao">
  <button class="close-button" (click)="excluirPromocaoDiaria()">X</button>
  <div class="promocao_app">
    <header>
      <div class="frase_oferta_dia">
        <div>
          <span class="oferta_do_dia">OFERTA DO DIA</span>
        </div>
        <span>Aproveite! Essa oferta acaba em:</span>
      </div>
      <div class="cronometro">
        <p class="time">{{ tempoRestante.horas }} : {{ tempoRestante.minutos }} : {{ tempoRestante.segundos }} </p>
        <p class="texto_time remove-margin-bottom" style="margin: 0;"><span>hrs</span><span>min</span><span>ss</span></p>
      </div>
    </header>
  </div>
  <div class="container_oferta">
    <img class="produto_em_promocao" src="../../assets/kit-gamer.jpg" alt="" style="width: 27rem;">
  </div>
  <div>
    <h2 class="product-item_name">Kit Gamer (teclado, mouse, controle e headset)</h2>
    <div>
      <p class="valor_normal"> R$1000.00</p>
    </div>
    <div>
      <p class="valor_promocao"> R$600.00</p>
    </div>
  </div>
</div>

